<app-header></app-header>
<app-home></app-home>

<section class="project_section py-14" id="projects">
  <div class="container mx-auto">
    <app-projects></app-projects>
  </div>
</section>

<section class="skills_section py-14" id="skills">
  <div class="container mx-auto">
    <app-skills></app-skills>
  </div>
</section>

<section class="contact_section py-9" id="contact">
  <div class="container mx-auto">
    <app-contact></app-contact>
  </div>
</section>

<section class="footer_section py-9" id="footer">
  <div class="container mx-auto">
    <app-footer></app-footer>
  </div>
</section>
