
<section class="pt-28 lg:pt-0" id="about">
    <div class="mx-auto container">
        <div class="w-full h-[calc(100vh-25rem)]  flex-col md:flex-row text-white flex justify-evenly items-center">
                <div class="flex-1 flex ">
                    <div class="space-y-5 px-5">
                        <button class="px-2 py-1 rounded-sm bg-[#491526]" >Welcome I'm</button>
                        <p class="font-bold text-4xl">Mohammed Adel</p>
                        <p class="text-gray-300">Junior Web Developer Specializing in full stack development, 
                            quick learner with strong interpersonal skills and proven ability 
                            to manage positive and productive client relationship, problem solve</p>
                    </div>
                </div>
            <app-swiper class="flex-1">           
            </app-swiper>
        </div>
    </div>
</section>


